body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-image: hsl(234, 38%, 95%);
  color: black;
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.btn {
  background-color: hsl(245, 43%, 28%);
  color: white;
  padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 1rem;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slide-appear {
  opacity: 0;
  transform: translateX(-500px) scale(0.6);
}

.slide-appear-done {
  opacity: 1;
  transition: all 400ms;
  transform: translateX(0) scale(1);
}

.slide-enter {
  opacity: 0;
  transform: translateX(-500px) scale(0.3);
}

.slide-enter-active {
  opacity: 1;
  transition: all 400ms ease-out;
  transform: translateX(0) scale(1);
}

.slide-exit {
  opacity: 1;
}

.slide-exit-active {
  opacity: 0;
  transition: all 400ms ease-in;
  transform: translateX(500px) scale(0.3);
}
