.modal {
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: -100vh;
  z-index: 1;
  border: 1px solid gray;
  transition: all 0.5s ease-out;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    .closeBtn {
      font-size: 20px;
      margin-left: 1rem;
      cursor: pointer;
    }
    .headerContent {
      padding-right: 1rem;
      font-size: 14px;
    }
  }
  .body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  &.full-screen {
    height: 100vh;
    overflow-y: scroll;
  }
  &.show {
    bottom: 0;
    min-height: 30vh;
    transition: all 0.5s ease-out;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}
